
/* Your CSS Code here. */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.holder {
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-rows: repeat(2,200px);
    grid-template-columns: repeat(2, 200px);
    gap: 5px; /* Optional: Adds space between items */
}

.item {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}